* {
	margin: 0;
	padding: 0;
}

html, body {
	width: 100%;
	height: 100%;
}

#desktop{
	background-color: black;
    width: 100%;
	height: 100%;
}
#desktop img{
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

#studentIDcard{
	background-color: #e3f6ff;
	width: 30%;
	height: 30%;
	position: absolute;
	top: 35%;
	left: 35%;
	border-radius: 10px;
	border-color: black;
	box-shadow: 5px 5px 20px black;
}
#studentIDcard img{
	display: block;
	height: 90%;
	object-fit: cover;
	position: absolute;
	top: 5%;
	left: 1.5vh;
	border-radius: 10px;
}